.right-3 {
    width: 80%;
    margin-left: 30px;
    margin-top: 0;
    padding-bottom: 300px;
}
.row3a {
    display: flex;
}


.aff-card  {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    height: 150px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.aff-card1 {
    width: 50%;
    margin-right: 10px;
    height: 150px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255); 
    color: white;
   background-color: #eb4786;
    background-image: linear-gradient(315deg, #eb4786 0%, #b854a6 74%);
}

.aff-card1 h1 {
    font-weight: bolder;
}
.aff-card  h1 {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #e62e04;
}
.aff-card  p {
    margin-left: 20px;
}

.aff-card-ic {
    color: #4d4d4d;
}

.detail-card-aff {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 20px;
}

.detail-card-aff .card-body {
    width: 100%;
}

.detail-card-aff .card-body p {
    padding: 30px;
    background-color: #efefef;
    border-radius: 5px;
    width: 100%;
}

.detail-card-aff .card-body p span{
    max-width: 600px;
}
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-card-aff .card-body  button {
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    background-color: #e62e04;
}

.detail-card-aff  button {
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    background-color: #e62e04;
}

.detail-card-aff .ri {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-card-aff .ri input {
    height: 44px;
    padding-left: 15px;
    border: 1px solid lightgray;
}
.affde ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.aff-box {
    margin: 20px ;
    border-radius: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
    height: 150px;
}

.aff-box:hover {

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.151);
}
.aff-box h1{
    background-color: #b3b3b3;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.aff-box p {
    background-color: white;
}

.lst-li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

@media (max-width: 800px) {
    .right-3 {
        width: 100%;
        margin-left: 20px;
        padding-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .row3a {
        display: flex;
        flex-direction: column;
    }

    .aff-card {
        width: 80%;
    }

    .aff-card1 {
        width: 80%;
        margin-bottom: 20px;
    }
    .affde ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .affde ul div {
        width: 80%;
    }
}